<!DOCTYPE html>

<html>
    <head>
        <title>Betting game - Page not found</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <div id=navbar>
        	<span style="color:white"><center>Betting game</center></span>
    	</div>
    </head>
    <body>
    	<div id=body>
    		<h2>Page does not exist</h2>
    		
    		<div class="actions">
            <br/>
            <a href="@routes.ApplicationController.index()" class="btn">Back to index</a> 
        </div>
        </div>
    </body>
</html>
