@(userForm: Form[PasswordForm], user: User)

@import helper._

@main("Change password", user) {

    @if(flash.contains("error")) {
                <p class="error" style="color:red">
                    @flash.get("error")
                </p>
    }
    
    @form(routes.UserController.setPassword(), 'id -> "changePW") {
    
         	@inputPassword(userForm("password"), '_label -> "Password", '_showConstraints -> false)
         	@inputPassword(userForm("confirmPassword"), '_label -> "Repeat password", '_showConstraints -> false)
     
        <div class="actions">
        	<br/>
            <input type="submit" class="btn primary" value="Change password">
            <br/>
            <a href="@routes.ApplicationController.index()" class="btn">Cancel</a> 
        </div>
        
    }
   
}